<div class="container">
    <div class="row">
        <div class="col-lg-12">
            <h3 class="entete"><strong>Comités de La Cagette</strong></h3>
            <div class="louve-box message">
                Vous souhaitez vous impliquer davantage dans notre beau projet et aider les salariés harassés ?<br />
Notre travail pour faire vivre notre supermarché se poursuit en dehors du magasin ! <br />
La meilleure manière de s’impliquer, c’est de participer à  un comité (petit groupe de personnes qui avancent sur un thème précis). <br />Tout un tas de comités se créent actuellement, et recherchent activement des volontaires pour avancer dans leurs missions respectives.<br /> Cela concerne un grand nombre de domaines: juridique, travaux, approvisionnement, informatique, animation des réunions, convivialité.<br />Tout le monde est invité à participer ! <br /><br />
Suivez le lien pour voir la liste :
<a href="">Comités de La Cagette</a>
            </div>
        </div>
    </div>
</div>
